NEXTAUTH_URL=http://localhost:3000

# Generate with `npx auth` Read more: https://cli.authjs.dev or https://generate-secret.vercel.app/32 (only required for localhost)

AUTH_SECRET=my_ultra_secure_nextauth_secret

# Create a Postgres database on Vercel: https://vercel.com/postgres
POSTGRES_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

