NEXTAUTH_URL=http://localhost:3000

# Generate with `npx auth` or https://generate-secret.vercel.app/32 (only required for localhost)

AUTH_SECRET= Read more: https://cli.authjs.dev

# Create a Postgres database on Vercel: https://vercel.com/postgres
# Recommended for most uses
DATABASE_URL=

# For uses requiring a connection without pgbouncer
DATABASE_URL_UNPOOLED=
# Parameters for constructing your own connection string
PGHOST=
PGHOST_UNPOOLED=
PGUSER=
PGDATABASE=
PGPASSWORD=
# Parameters for Vercel Postgres Templates
POSTGRES_URL=postgres:
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=verceldb
POSTGRES_URL_NO_SSL=
POSTGRES_PRISMA_URL=

# Original Cody starter env
DATABASE_URL=file:local.db
DB_AUTH_TOKEN=IF_USING_TURSO
HOST_NAME="http://localhost:3000"
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_SECRET=
GITHUB_CLIENT_ID=
EMAIL_SERVER_USER=resend
EMAIL_SERVER_PASSWORD=ADD_YOUR_KEY
EMAIL_SERVER_HOST=smtp.resend.com
EMAIL_SERVER_PORT=465
EMAIL_FROM="Your App <no-reply@yourdoman.com>"